<% include header %>

<div id="container">
        <div class="row">
       <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <div id="birth_date_input">
        <h3 class="hedding">Select Your Birth Date.</h3>
        <input type="date" id="birth_date">
    </div>
    <br/>
    <button id="calculate"><span>Calculate Age</span></button>
    <div id="age_container">
        <span id="exact_age">Age</span></div>
    </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>


<% include footer %>
