	  <!DOCTYPE html>
	  <html>
	  <head>
		  <title>Pranathi Mothe</title>
			<link rel="stylesheet" type="text/css" href="/css/pranathi.css">
			<link rel="stylesheet" type="text/css" href="/css/calculator.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="/js/calculator.js"></script>			
	  </head>
	  <body>
	  <div class="container-fluid">
	  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  
			<a class="navbar-brand" href="/index">Pranathi Mothe</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
	  
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item ">
				  <a class="nav-link active" href="/index">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link active" href="/calculator">Age Calculator</a>
				</li>
				<li class="nav-item active">
				  <a class="nav-link active " href="/contactUs">Contact Us</a>
				</li>
			  </ul>
		   
			<ul class="nav navbar-nav navbar-right">
			  <li> <a href="https://www.facebook.com/pranathi.reddy.50999" target="-blank"><span ><img src="/images/fb.png" alt="facebook Social Link"></span></a></li>
			  <li> <a href="https://www.linkedin.com/in/pranathi-reddy-778269107/" target="-blank"><span ><img src="/images/linkedin.png" alt="Linkedin Social Link"></span></a></li>
			  <li> <a href="https://github.com/PranathiMothe" target="-blank"><span ><img src="images/GitHub-Mark.png" alt="GitHub Social Link"></span></a></li>
			  <li> <a href="https://bitbucket.org/Mothe_Pranathi/pranathi-mothe/src/master/" target="-blank"><span ><img src="/images/BB-Mark.png" alt="bitbucket Social Link"></span></a></li>
			</ul>
		  </div>
	  
		  </nav>
	